/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

#logo {
  padding-bottom: 0rem;
}

.nav-item {
  padding: 0rem 1rem 0rem 1rem;
  color: white;
  font-size: larger;
}

.nav-link {
  padding: 0rem 1rem 0rem 1rem;
  color: white !important;
  font-size: larger;
}

#login-dropdown {
  color: white;
}

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #6fb879;
  --matr-navbar-bg-rgb: 44, 72, 47;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

#background {
  background-size: cover;
  background-position: center ;
}

#motto {
  color: darkgreen;
}

#sample-image-1 {
  width: 100%;
  border: 5px solid darkgreen;
}

#sample-image-2 {
  width: 100%;
  border: 5px solid darkgreen;
}

#sample-image-3 {
  width: 100%;
  border: 5px solid darkgreen;
}

#search-button {
  background-color: var(--matr-navbar-bg);
  padding: 2px 2px 2px 2px;
  margin-left: 6px;
  margin-buttom: 5px;
}

footer {
  color: white;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}